body{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

}
.colorBtn{
	padding: 0.5rem;
	border: 3px ;
	border-radius: 7px;
	color: #fefefe;
	background-color: rgba(0, 0,0, 0.6);
	font-size: 1.5rem;
	text-transform: capitalize;
	cursor: pointer;
	outline: none;

}
.colorBtn:hover{
	background: rgb(0, 0, 0);
}
audio{
	visibility: hidden;
}